* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Hanken Grotesk", sans-serif;
}

#header {
  background-color: #e7dfd8;
  height: 100vh;
}

#section1 #nav-bar {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2vh;
  padding: 3vw;
}

#section1 #nav-bar a {
  text-decoration: none;
  color: #281f15;
  font-weight: 700;
  font-size: 1.5vw;
  display: inline-block;
}

#section1 #nav-bar #blog {
  opacity: 0.6;
}

#section1 #nav-bar a:hover,
#section1 #nav a:focus,
#section1 #nav-bar a:active {
  opacity: 0.6;
  color: #281f20;
  text-decoration: underline;
  text-decoration-color: #281f2087;
}

#parent1 {
  width: 85%;
  height: 75vh;
  margin: auto;
  border: 2px solid #050504; /* Default border size */
}

#about-me {
  font-size: 2vw;
  font-weight: 500;
  width: 20vw;
  margin: auto;
  padding: 1.042vw;
  position: relative;
}

#about-me::before {
  content: "";
  background-color: black;
  width: 0vw;
  height: 0.1vw;
  position: absolute;
  top: 3.5vw;
  left: 2vw;
  transition: 0.2s width linear;
}

#about-me:hover::before {
  width: 8vw;
  opacity: 0.6;
  color: #281f15;
}

#about-me:hover,
#about-me:focus {
  opacity: 0.9;
  color: #281f15;
}

#head {
  padding: 2vw;
  font-size: 1.7vw;
}

.typing {
  color: #dc143b;
}

#child1 {
  margin-left: 5vw;
  text-align: justify;
  margin-right: 3vw;
  font-size: 1.5vw;
  word-spacing: 0.2vw;
  letter-spacing: 0.1vw;
}

#child1 p {
  padding-bottom: 90px;
}

button {
  display: block;
}

#parent1 {
  position: relative;
}

button {
  position: absolute;
  top: 31.5vw;
  left: 4.5vw;
  color: white;
  background-color: #ff0022;
  padding: 1vw;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  width: 12vw;
  border-radius: 0.6vw;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  #section1 #nav-bar {
    flex-direction: column;
    align-items: center;
  }

  #section1 #nav-bar a {
    font-size: 4vw;
    margin: 1vw 0;
  }

  #parent1 {
    width: 95%;
    height: auto;
    padding: 2vw;
    border: 1px solid #050504; /* Reduced border size */
  }

  #about-me {
    font-size: 4vw;
    width: auto;
  }

  #head {
    font-size: 4vw;
    padding: 2vw;
  }

  #child1 {
    margin: 2vw 0;
    font-size: 3vw;
    margin-left: 0;
    margin-right: 0;
  }

  button {
    position: static;
    margin: 2vw auto;
    width: 60%; /* Reduced button width */
    font-size: 4vw; /* Increased font size for better readability */
    padding: 1.5vw; /* Adjusted padding */
    border-radius: 1vw;
  }
}
