* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  overflow: hidden;
}

#header {
  height: 100vh;
  opacity: 10;
  background-color: #f4f1ea;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  transition: height 2s ease;
}

#header #name1,
#header #name2,
#header #btn {
  margin: 10px, 0;
}
#name1 {
  font-size: 5vw;
  font-weight: 800;
}

#header #name2 {
  font-size: 2vw;
  font-weight: 400;
}

#header #btn {
  background-color: black;
  color: whitesmoke;
  padding: 1vw;
  text-decoration: none;
  width: 15vw;
  margin-top: 3vw;
  font-size: 12px;
}
h2 {
  font-size: 3vw;
  font-weight: 600;
}

#content {
  padding: 1vw;
  word-spacing: 0.7vw;
  letter-spacing: 0.1vw;
  font-size: 1.4vw;
  line-height: 2vw;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 470px) {
  #header #btn {
    width: 15vw;
    font-size: 8px;
  }
}

/* after tansition */

#section1 {
  background-color: #e7dfd8;
  width: 100%;
  overflow: hidden;
  height: 0vh;
}

#parent1 {
  width: 80%;
  margin: auto;
  margin-top: 3.5vh;
  height: fit-content;
  border: 2px solid #281f15;
  overflow: hidden;
  display: flex;
  transition: 2s opacity;
  opacity: 2;
}

#parent1 #child1 p {
  padding-bottom: 20vh;
  color: #281f15;
  justify-content: center;
  text-align: justify;
  font-weight: 500;
}
#parent1 #child1 {
  padding: 3vw;
  width: 60%;
}

#parent1 #child1 h1 {
  padding-bottom: 2vh;
  font-size: 3vw;
  font-weight: 900;
  letter-spacing: 1.5px;
}

#parent1 #child1 #baby1 a {
  text-decoration: none;
  color: #281f15;
  font-size: 2vw;
  padding: 1vw;
  margin-left: 1vw;
}

#child2 {
  width: 40%;
  margin: 2vw;
  background-image: url("Premium\ Photo\ _\ Sute\ girl\ hacker\ with\ laptop\ Avatar\ in\ cartoon\ style\ Black\ background\ Generated\ Ai.jpeg");
  /* 
    https://picsum.photos/500/450width 500
    height 450 */
  background-repeat: no-repeat;
  background-position: -12.5vh;
}

#section1 #nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6vh;
}

#section1 #nav-bar a {
  text-decoration: none;
  color: #281f15;
  font-weight: 700;
  padding: 2vw;
}
#home-bar {
  transition: 2s linear;
}

#section1 #nav-bar #home-bar {
  opacity: 0.6;
  color: #281f20;
}

#section1 #nav-bar a:hover,
#section1 #nav a:focus,
#section1 #nav-bar a:active {
  opacity: 0.6;
  color: #281f20;
  text-decoration: underline;
  text-decoration-color: #281f20;
}
